### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [34]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv('purchase_data.csv')

df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [39]:
players = df['SN'].nunique()
total_players = pd.DataFrame({"Total Players": [players]}, columns= ["Total Players"])
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [120]:
#sum of items(no duplicates)
unique_items = df['Item ID'].nunique()
#total_revenue/price_count
average_price = (df['Price'].sum()/df['Price'].count()).round(3)
#purchases = price_count
purchases = df['Price'].count()

total_revenue = df["Price"].sum()

summary_df = pd.DataFrame({"Number of Unique Items": [unique_items], 
                                 "Average Purchase Price": [average_price],
                                 "Number of Purchases": [purchases],
                                 "Total Revenue": [total_revenue]}, columns= ["Number of Unique Items", "Average Purchase Price",
                                 "Number of Purchases", "Total Revenue"])

summary_df.style.format({"Average Purchase Price": "${:.2f}", "Total Revenue": "${:.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [111]:
player_count = df["SN"].nunique()

female_player_count = df[df["Gender"] == "Female"]["SN"].nunique()

male_player_count = df[df["Gender"] == "Male"]["SN"].nunique()

other_count = player_count - male_player_count - female_player_count

male_percent = ((male_player_count/player_count)*100)

female_percent = ((female_player_count/player_count)*100)

other_percent = ((other_count/player_count)*100)

gender_count_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Total Count": [male_player_count, female_player_count, other_count],
                                        "Percentage of Players": [male_percent, female_percent, other_percent]}, columns = 
                                        ["Gender", "Total Count", "Percentage of Players"])
                                        
gender_count_df.style.format({"Percentage of Players": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [118]:
male_purchases = df[df["Gender"] == "Male"]["Price"].count()

female_purchases = df[df["Gender"] == "Female"]["Price"].count()

other_purchases = purchases - male_purchases - female_purchases

male_avg_price = df[df["Gender"] == "Male"]['Price'].mean()

female_avg_price = df[df["Gender"] == "Female"]['Price'].mean()

other_avg_price = df[df["Gender"] == "Other / Non-Disclosed"]['Price'].mean()

male_price = df[df["Gender"] == "Male"]['Price'].sum()

female_price = df[df["Gender"] == "Female"]['Price'].sum()

other_price = df[df["Gender"] == "Other / Non-Disclosed"]['Price'].sum()

male_norm = male_price/male_player_count

female_norm = female_price/female_player_count

other_norm = other_price/other_count

gender_costs_df = pd.DataFrame({"Gender": ["Female", "Male", "Other / Non-Disclosed"], "Purchase Count": [female_purchases, male_purchases, other_purchases],
                                        "Average Purchase Price": [female_avg_price, male_avg_price, other_avg_price], "Total Purchase Value": [female_price, male_price, other_price],
                                "Normalized Totals": [female_norm, male_norm, other_norm]}, columns = 
                                        ["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"])
                                        
gender_costs_lit = gender_purchase_df.set_index("Gender")

gender_costs_lit.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Normalized Totals": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [137]:
baby = df[df["Age"] <10]

teen = df[(df["Age"] >=10) & (df["Age"] <=14)]

late_teen = df[(df["Age"] >=15) & (df["Age"] <=19)]

early_twenties = df[(df["Age"] >=20) & (df["Age"] <=24)]

late_twenties = df[(df["Age"] >=25) & (df["Age"] <=29)]

early_thirties = df[(df["Age"] >=30) & (df["Age"] <=34)]

late_thirties = df[(df["Age"] >=35) & (df["Age"] <=39)]

old = df[df["Age"] >=40]


age_count_df = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
                         "Total Count": [baby["SN"].nunique(), teen["SN"].nunique(), late_teen["SN"].nunique(), early_twenties["SN"].nunique(), late_twenties["SN"].nunique(), early_thirties["SN"].nunique(), late_thirties["SN"].nunique(), old["SN"].nunique()], 
                            "Percentage of Players": [(baby["SN"].nunique()/fullcount)*100, (teen["SN"].nunique()/fullcount)*100, (late_teen["SN"].nunique()/fullcount)*100, (early_twenties["SN"].nunique()/fullcount)*100, (late_twenties["SN"].nunique()/fullcount)*100, (early_thirties["SN"].nunique()/fullcount)*100, (late_thirties["SN"].nunique()/fullcount)*100, (old["SN"].nunique()/fullcount)*100]})

age_count_lit = age_demo_df.set_index("Age")

age_count_lit.style.format({"Percentage of Players": "{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [141]:
age_count_df = pd.DataFrame({"Age": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
                              "Purchase Count": [baby["Price"].count(), teen["Price"].count(), late_teen["Price"].count(), early_twenties["Price"].count(), late_twenties["Price"].count(), early_thirties["Price"].count(), late_thirties["Price"].count(), old["Price"].count()],
                              "Average Purchase Price": [baby["Price"].mean(), teen["Price"].mean(), late_teen["Price"].mean(), early_twenties["Price"].mean(), late_twenties["Price"].mean(), early_thirties["Price"].mean(), late_thirties["Price"].mean(), old["Price"].mean()], 
                              "Total Purchase Value": [baby["Price"].sum(), teen["Price"].sum(), hiteens["Price"].sum(), early_twenties["Price"].sum(), late_twenties["Price"].sum(), early_thirties["Price"].sum(), late_thirties["Price"].sum(), old["Price"].sum()],
                              "Normalized Totals": [baby["Price"].sum()/baby['SN'].nunique(), teen["Price"].sum()/teen['SN'].nunique(), late_teen["Price"].sum()/late_teen['SN'].nunique(), 
                                                    early_twenties["Price"].sum()/early_twenties['SN'].nunique(), late_twenties["Price"].sum()/late_twenties['SN'].nunique(), 
                                                    early_thirties["Price"].sum()/early_thirties['SN'].nunique(), late_thirties["Price"].sum()/late_thirties['SN'].nunique(), 
                                                    old["Price"].sum()/old['SN'].nunique()]}, 
                             columns = 
                            ["Age", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"])

age_count_lit = age_count_df.set_index("Age")

age_count_lit.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}", "Normalized Totals": "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [173]:
player_tpv = df.groupby('SN')['Price'].sum().to_frame()
player_price_count = df.groupby('SN')['Price'].count().to_frame()
avg_player_price = df.groupby('SN')['Price'].mean().to_frame()


player_tpv.columns=["Total Purchase Value"]
combine_tot = player_tpv.join(player_price_count, how="left")
combine_tot.columns=["Total Purchase Value", "Purchase Count"]

combine_avg = combine_tot.join(avg_player_price, how="inner")
combine_avg.columns=["Total Purchase Value", "Purchase Count", "Average Purchase Price"]

balling_df = join_avg[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
balling_lit = balling_df.sort_values('Total Purchase Value', ascending=False).head()
balling_lit.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [201]:
indi_one = df.groupby("Item Name").sum().reset_index()

indi_two = df.groupby("Item ID").sum().reset_index()

indi_three = df.groupby("Item Name").count().reset_index()

merge_indi_one = pd.merge(indi_one, indi_two, on="Price")

merge_indi_two = pd.merge(indi_three, merge_indi_one, on="Item Name")

merge_indi_two["Gender"] = (merge_indi_two["Price_y"]/merge_indi_two["Item ID"]).round(2)

rename_merge_indi_two = merge_indi_two.rename(columns={"Age": "Purchase Count", "Gender": "Item Price", "Item ID": "null", "Price_y": "Total Purchase Value", "Item ID_y": "Item ID"})

new_df = rename_merge_indi_two[["Item ID", "Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]

item_df = new_df.set_index(['Item ID', 'Item Name'])

popular_items = item_df.sort_values('Purchase Count', ascending=False).head(5)

popular_items.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [205]:
most_profitable = item_df.sort_values('Total Purchase Value', ascending=False).head()
most_profitable.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

In [203]:
#finito!